:root {
	--bg: #333;
	--text: #fff;
}
@media (prefers-color-scheme: light) {
	:root {
		--bg: #111;
		--text: #333;
	}
}
body {
	background-color: var(--bg);
	color: var(--text);
	font-family: Inter, sans-serif;
}
.light {
	color: #111;
}
